html, body {
  margin: 0;
  padding: 0;
  background-color: #050510;
  font-family: monospace;
  font-size: 14px;
}
body {
  position:absolute;
}
canvas {
  display: block;
}
#top-container {
  position: absolute;
  display: flex;
  top: 0px;
}
#top-container * {
  flex-basis: main-size;
  flex-shrink: 0;
  position: relative;
}
#bottom-container {
  position: absolute;
  top: 60px;
}
#bottom-container * {
  position: relative;
}

input {
  padding: 5px 8px;
  color: #baf;
  font-size: 14px;
  font-family: monospace;
  background-color: #6040FF20;
  border-radius: 6px;
  border: 1px #6040FF80 solid;
}

input:focus {
  outline: none;
  background-color: #111;
}

input[type="number"] {
  width: 4em;
}
input[type="text"] {
  width: 20em;
}

#settingsGroup {
  color: #BAF;
  margin-left: 20px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 2px;
}

span {
  margin-inline: 4px;
  color: #BAF;
}
.rowlabel {
  width: 8em;
}

button {
  color: #baf;
  background-color: #6040FF50;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-family: monospace;
  font-size: 14px;
  margin: 0px;
}

.buttonSelected {
  background-color: #765aff96;
  color: white;
}

button:not(.buttonSelected):hover {
  background-color: #6040FF80;
  color: white;
}

button:not(.buttonSelected):active {
  background-color: #6040FF20;
}
